/* $primary : #FAC407;
$secondary-light : #ABB3B3;
$secondary : #4E5656;
$dark : #141414; */

@import "./assets/css/header.css";

@font-face {
    font-family: "Anton";
    src: url('./assets/fonts/Anton-Regular.ttf');
}

@font-face {
    font-family: "Kenia";
    src: url('./assets/fonts/Kenia-Regular.ttf');
}

@font-face {
    font-family: "Open Sans";
    src: url('./assets/fonts/OpenSans-Regular.ttf');
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #4E5656
}

.quote {
    width: 55px;
}
