/*font-family: 'Anton', sans-serif;
font-family: 'Kenia', cursive;
font-family: 'Open Sans', sans-serif*/
*{
    
    margin: 0;
    box-sizing: border-box;
    border: 1px solid red;*/
}
img{
    vertical-align: top;
}