.navbar{
    background-color: #141414;;
}

.navbar-nav {
    margin: auto;
}

.nav-link span {
    font-family:'Anton';
    font-size: 1.25rem;
    color: #4E5656;
    transition: ease-out 1s;
}

.nav-link span:hover, .nav-link span:focus, .esprit-content a:hover, a.sub-title-link:hover {
    color: #141414;
    box-shadow: inset 400px 0 0 0 #FAC407;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(171,179,179, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.mantras {
    background-color: #141414;
    background-image: url("../images/1_HEADER-BG.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    background-attachment: fixed;
}

.logo img {
    width: 20%;
    transition: 2s filter, transform 2s;
}

.logo img:hover {
    filter: contrast(50%) grayscale(1);
    transform: rotate(45deg);
}

.presentation {
    padding: 25px;
    max-width: 380px;
}

.presentation h1 {
    font-family: 'Anton';
    font-weight: bolder;
    text-transform: uppercase;
    color: #4E5656;
    letter-spacing: 4px;
}

.presentation p {
    color: #ABB3B3;
}

.esprit {
    padding:0 25px;
    margin-top: -25px;
    margin-bottom: 20px;
    animation: 3s ease-in 1s fade;
    visibility: hidden;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

.esprit-content {
    max-width: 350px;
}

.esprit-content h1 {
    font-family: 'Kenia';
    color: #fff;
    text-align: center;
}

.esprit-content p {
    color: #4E5656;
}

.esprit-content a {
    font-family: 'Anton';
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #FAC407;
    float: right;
    line-height: 1;
    transition: ease-out 1s;
}

img.quote2 {
    float: right;
}

.quotation {
    display: flex;
    margin: auto;
    padding: 25px 0;
    margin-bottom: 35px;
    min-height: 265px;
}

.quotation-magi img {
    float: left;
    margin: -25px;
}

.quotation-dev img {
    float: right;
    margin: -25px;
}

.quotation-content {
    flex: 1 1 auto;
    text-align: center;
    padding: 25px;
    text-transform: uppercase;
    line-height: 1.1;
    font-size: 0.95rem;
}

.quotation-content h3 {
    font-family: 'Kenia';
    font-size: 2.5rem;
    color: #141414;
}

.quotation-content strong {
    color: #141414;
}